body {
    background-color: #ffffff;
}

.result-image-container {
    font-family: 'Times New Roman';
    color: black;
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
}

.result-container {
    font-family: 'Times New Roman';
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.play-btns-container {
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
}

.rock-btn, .paper-btn, .scissors-btn {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 16px;
}

.scissors-btn:hover, .paper-btn:hover, .rock-btn:hover{
    background-color: grey;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.score-container {
    font-family: 'Times New Roman';
    color: black;
    font-size: 40px;
    text-align: left;
    margin-top: 240px;
}

.user-hand-image-container {
    display: inline-block;
    rotate: 90deg;
}

.cpu-hand-image-container {
    display: inline-block;
    color: grey;
    rotate: -90deg;
}